* {
    margin: 0;
    padding: 0;
    font-family: sans -serif;
}

.banner {
    width: auto;
    height: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(/static/images/p1.jpg);
    background-attachment: fixed;
    background-size: contain;
    
}

.wrapper {
    width: 900px;
    padding: 10px;
    word-wrap: break-word;
    white-space: normal;
    overflow: auto;
    display: fixed;
    justify-content: center;   
}

.wrapper p {
    font-size: 20px;
    color: #f5f1f1;
    margin: 10px 0;
    margin-left: 30px;
    margin-top: 15px;
    line-height: 1.1;
    letter-spacing: 0.5px;
    text-align: justify;
}

.home-image {
    width: 700px;
    height: 345px;
    background-image: url(/static/images/result/home.png);
    background-size: 100%;
    margin-left: 100px;
    margin-top: 30px;
    background-repeat: no-repeat;
    border: 2px solid #f5f1f1;
}

.result-image {
    width: 700px;
    height: 345px;
    background-image: url(/static/images/result/result.png);
    background-size: 100%;
    margin-left: 100px;
    margin-top: 30px;
    background-repeat: no-repeat;
    border: 2px solid #f5f1f1;
    border-bottom: 30px;
}

.wrapper h2 {
    color: #fff;
    margin-left: 30px;
    margin-top: 30px;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: lighter;
}


.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #fff;
    width: 40%;
    height: 30%;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color:#fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content:'';
    height:3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom:-8px;
    transition: 0.5s;

}
.navbar ul li:hover::after{
    width: 100%;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }




table{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    
}
h1{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
  }
  table{
    width: auto;
    table-layout:fixed;
    background-color:transparent;
    
  }
.center{
    margin-left: auto;
    margin-right: auto;
}
 
  td{
    padding: 13px;
    text-align: center;
    vertical-align:middle;
    font-weight: 300;
    font-size: 20px;
    color: rgb(255, 255, 255);
    border-bottom: solid 1px rgba(255,255,255,0.1);
  }
  
  
  /* demo styles */
  
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);