<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Music Recommendation System
    </title>
    <link rel="stylesheet" href="/static/scripts/about.css">
</head>

<body>
    <div class="banner">
        <div class="navbar">
            <div class="logo">
                <h1>Music Recommendation System</h1>
            </div>
            <ul>
                <li>
                    <a href="/index">Start now</a>
                </li>
            </ul>
        </div>
        <div class="wrapper">
            <p>
                Having to search for music is tiring and stressful coupled with the fact that
                we have millions if not billions of music available for us to listen to.
                However, not all fall into the category of songs we love to listen to especially
                when we need to rest, vibe, and sometimes cool of from a frustrating event or day. 
                My team and I decided to design a system that'll eliminate the stress of having to 
                search for a particular song when it's really needed.
            </p>
            <p>
                This system does not eliminate song search by the user. However, it seives the 
                result to suit the user's needs by taking into account the song that have been
                listened to by other users and recommending the ones that are closely related to 
                the song entered by the user. The system also recommends songs that have high 
                listening counts - which are also referred to as trending music.
            </p>
        </div>
        <div class="links">
            <a href="LinkedIn">LinkedIn</a>
            <a href="github">GitHub</a>
            <a href="Twitter">Twitter</a>
            <a href="github repo">Project GitHub</a>
        </div>
    </div> 
</body>

</html>