<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Music Recommendation System
    </title>
    <link rel="stylesheet" type="text/css" href="../static/styles/index.css?{{ cache_id }}">
    <script>
       function validateForm() {
    var x = document.forms["myForm"]["searchsong"].value;
    if (x == "") {
      alert("Name must be filled out");
      return false;
    }
  } 
    </script>
</head>

<body>
    <div class="banner">
        <div class="navbar">
            <div class="logo">
                <h1>Music Recommendation System</h1>
            </div>

            <ul>
                <li>
                    <a href="/about">about</a>
                </li>
                <li>
                    <a href="/landing">home</a>
                </li>
            </ul>
        </div>
        <div id="searchbox">
            <form method="POST" onsubmit="return validateForm()" name="myForm" required>
            <input name="searchsong" placeholder="Search song"/>
            <input type="submit"/>
            </form>
        </div>
    </div>
</body>

</html>