<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/styles/landing.css?{{ cache_id }}">
    <title>
        Music Recommendation System
    </title>
</head>

<body>
    <div class="banner">
        <div class="navbar">
            <div class="logo">
                <h1>Music Recommendation System</h1>
            </div>
            <ul>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/index">Start now</a>
                </li>
            </ul>
        </div>
        <div class="wrapper">
            <p>
                Music discovery refers to the process of exploring and finding new music that aligns 
                with an individual's taste and preferences. It plays a crucial role in enhancing the 
                overall music listening experience and keeping it fresh and exciting. Music discovery 
                allows users to expand their musical horizons, discover new artists, genres, and songs 
                that resonate with their emotions and preferences. It opens doors to a world of diverse 
                and unique musical experiences.
            </p>
            <p>
                A system that recommends music to its users based on the experiences of other users.
                Music recommendation systems are intelligent software systems that analyze user preferences, 
                behavior, and historical data to provide personalized song suggestions and recommendations. 
                These systems aim to enhance the music listening experience by helping users discover new 
                songs, artists, and genres that align with their individual tastes and preferences.
            </p>
            <p>
                The role of music recommendation systems is to alleviate the challenges users face in 
                finding new music by offering tailored suggestions that cater to their unique musical 
                preferences. These systems take into account various factors such as listening history, 
                favorite artists, genre preferences, user ratings, social interactions, and contextual 
                information to generate relevant recommendations.
            </p>
            <h2>Search</h2>
            <p>
                In the search box a user inputs a song to get recommendations. 
                A link to the about and home page is also present.
                Music discovery refers to the process of exploring and finding new music that aligns with 
                an individual's taste and preferences. It plays a crucial role in enhancing the overall 
                music listening experience and keeping it fresh and exciting. Music discovery allows users 
                to expand their musical horizons, discover new artists, genres, and songs that resonate 
                with their emotions and preferences. It opens doors to a world of diverse and unique musical 
                experiences.
            </p>
            <div class="home-image"></div>
            <h2>Result</h2>
            <p>
                Sample result generated by the system below is simplified and easy to understand.
                The recommended songs consists of the searched song, other songs that have high 
                listening count and songs in close classification with the user's search.
            </p>
            <p>
                By leveraging algorithms and machine learning techniques, music recommendation systems 
                analyze vast amounts of user data to understand individual preferences, identify patterns, 
                and generate personalized song suggestions. This personalized approach enhances the music 
                discovery process, enriches the user experience, and helps users explore a diverse range of 
                music tailored to their unique tastes.
            </p>
            <div class="result-image">
                <!--<link rel="result-image" href="../static/images/result/result.png?{{ cache_id }}">-->
            </div>
        </div>
    </div> 
</body>

</html>