<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Music Recommendation System
    </title>
    <link rel="stylesheet" href="static/landing.css">
</head>

<body>
    <div class="banner">
        <div class="navbar">
            <div class="logo">
                <h1>Music Recommendation System</h1>
            </div>
            <ul>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/index">Start now</a>
                </li>
            </ul>
        </div>
        <p>
            This is a music recommendation system that recommends music to you based on
            the experience of other users.
        </p>
        </div> 
    </div>
</body>

</html>